<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/list">List</a>
      </li>
      <li>
        <a routerLink="/edit/0">Create</a>
      </li>
    </ul>
  </nav>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search By Name"
          [(ngModel)]="searchTerm" />
</div>

<div *ngFor="let employee of filteredEmployees">
  <app-display-employee [employee]=" employee" [searchTerm]="searchTerm"
      (notifyDelete)="onDeleteNotification($event)">
  </app-display-employee>
</div>
<div *ngIf="error">
  {{ error}}
</div>
</div>






<!-- <button (click)="nextEmployee()" class="btn btn-primary">
  View Next Employee
</button> -->



